<div class="parent">
  <div class="child">
    <form action="" id="loginForm">
      <label for="email" style="color:black">Email:</label><br>
      <input type="text" id="userName" placeholder="Email"> <br>
      <label for="password" style="color:black">Password:</label><br>
      <input type="password" id="password" placeholder="Password"><br>
      <input type="submit" value="Login" style="float: right">
    </form>
    <button id="registerButton" routerLink="/register">Create new account</button>
  </div>
</div>
