p {
  color: white;
}

button {
  width: 100%;
  color: black;
  background-color: white;
  border: none;
  padding: 4vh 2vw;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  border-radius: 100%;
}
td {
  margin: 100px 100px;
}

.buttons {
  position: absolute;
  bottom: 10%;
  width: 25%;
  margin: 1% 33%;
  justify-content: space-around;
  table-layout: fixed;
  border-collapse: collapse;
}
