<div class="parent">
  <div class="child">
    <form action="" id="RegisterForm">
      <div class="newSegment">
        <label for="firstName">First Name:</label> <br>
        <input type="text" id="firstName" placeholder="First Name">
      </div>
      <div class="newSegment">
        <label for="lastName">Last Name:</label> <br>
        <input type="text" id="lastName" placeholder="Last Name">
      </div>
      <div class="newSegment">
        <label for="Email">Email:</label> <br>
        <input type="email" id="email" placeholder="Email">
      </div>
      <div class="newSegment">
        <label for="birth_div">Birth Date:</label> <br>
        <div id="birth_div">
          <input type="text" placeholder="dd" id="dayInput" maxlength="2">
          <input type="text" placeholder="mm" id="monthInput" maxlength="2">
          <input type="text" placeholder="yyyy" id="yearInput" minlength="4" maxlength="4">
        </div>
      </div>
      <div class="newSegment">
        <label for="gender_div">Gender:</label> <br>
          <input type="radio" id="male" name="gender" value="1"> Male <br>
          <input type="radio" id="female" name="gender" value="0"> Female
      </div>
      <label for="password">Password:</label><br>
      <input type="password" placeholder="Password"> <br>
      <label for="password">Confirm Password:</label><br>
      <input type="password" placeholder="Confirm Password">
      <br>
      <input type="submit" value="Create Account" routerLink="/userdata">
    </form>
    <button id="loginButton" routerLink="/login">Login</button>
  </div>
</div>
