.parent {
  display: grid;
  place-items: center;

  background: black;
  width: 100%;
  height: 100%;
  
  overflow: auto;
}

.child {
  padding: 0.5rem;
  border-radius: 10px;
  background: rgba(211, 211, 211, 0.637);
  font-size: 1rem;
  text-align: center;
}
label {
  float: left;
}
#year {
  width: 20%;
}
input[type="text"] {
  padding: .5rem;
}
input[type="email"] {
  padding: .5rem;
}
select {
  padding: 0.45rem;
}