.parent {
  display: grid;
  place-items: center;
  background: rgb(63,94,251);
  background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
 
  width: 100%;
  height: 100%;
  
  overflow: auto;
}

.child {
  padding: 5rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  
  font-size: 1rem;
  text-align: left;
}
label {
  float: left;
}
#year {
  width: 20%;
}
input[type="text"] {
  padding: .5rem;
}
input[type="email"] {
  padding: .5rem;
}
input[type="password"] {
  padding: .5rem;
  margin-bottom: 5%;
}
input[type="submit"] {
  padding: .5rem;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

select {
  padding: 0.45rem;
}

#birth_div #dayInput {
  width: 2vw;
  text-align: center;
}

#birth_div #monthInput {
  width: 2.6vw;
  text-align: center;
}

#birth_div #yearInput {
  width: 3vw;
  text-align: center;
}
.newSegment {
  margin-bottom: 10%;
}
button {
  width: 100%;
  padding: .5rem;
}